.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  
}

body {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
}


.title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.timer {
  font-size: 72px;
  color: #29429e;
}

.custom-time {
  margin: 15px 0;
}

.custom-time input {
  padding: 8px;
  font-size: 16px;
  width: 120px;
  text-align: center;
  border: none;
}

.custom-time button {
  background-color: #2980b9;
}


button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#start {
  background-color: #27ae60;
}

#stop {
  background-color: #c0392b;
}

#reset {
  background-color: #7f8c8d;
}
